@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    position: relative;
  }

  body {
    @apply font-body antialiased bg-background text-foreground;
    background: linear-gradient(180deg, #0C1821 20%, black 80%);
  }

  #root {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    position: relative;
  }

  .container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .globe-image {
    width: 100%;
    max-width: 100vw; /* Ensures it never exceeds the screen width */
    height: auto;
    display: block; /* Prevents extra spacing */
    object-fit: cover; /* Adjusts image to fit */
    overflow: hidden; /* Hides any overflow */
  }
  

}

